@import 'base';
@import 'layout';
@import 'components';

.mainContainer {
  @include flexCenter;
  height: 100vh;
}

.cardContainer {
  @include flexCenter;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;

  .card {
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 10%);
    padding: .5vw;
    width: 15%;
    height: auto;
    @include flexCenter;

    &Img {
      width: 10vw;
    }
    
    &:hover {
      background: rgb(235, 235, 235);
      cursor: pointer;
    }
    &__order {
      background-color: hotpink;
    }
  }
}
.cica {
  background-color: hotpink;
}